---
// Layout Import
import MainLayout from '../layouts/MainLayout.astro'

export async function getStaticPaths() {
	const posts = await Astro.glob('../data/*.md');

	return posts.map((post) => {
		return {
			params: {slug: post.frontmatter.slug},
			props: {...post}
		}
	})
}

const {Content, frontmatter} = Astro.props;
console.log(frontmatter)
---
<MainLayout>
	<article>
		<h1>{frontmatter.title}</h1>
		<Content />
		<!-- {astro.html} -->
	</article>
</MainLayout>
