---
// Layout Import
import MainLayout from '../layouts/MainLayout.astro';

const post = await Astro.glob('../data/*.md');
const obj = Object.assign({}, ...post );
const { Content, frontmatter } = obj;
const title = frontmatter.title

console.log(obj)
---
<MainLayout>
    <article>
		<h1>{title}</h1>
        <section>
            <Content />
            <!-- {astro.html} -->
        </section>
    </article>
</MainLayout>

<style>
	article {
		padding-top: 2em;
		line-height: 1.5;
	}

	section {
		margin-top: 2em;
		display: flex;
		flex-direction: column;
		gap: 1em;
		max-width: 70ch;
	}

	pre,code {
		font-family: var(--font-mono);
		border-radius: 4px;
	}

	pre {
		padding: 1em 1.5em;
	}
</style>