---
let title = 'My Astro Site';
---
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="theme-color" content="#00f0ff" />
    <link 
		rel="stylesheet"
    	type="text/css"
    	href="//fonts.googleapis.com/css?family=Source+Code+Pro:400,700|Source+Sans+Pro:600,900|Crimson+Text:700italic,600,600italic,400,700,400italic"
    />
    <link rel="stylesheet" type="text/css" href="/reset.css" />
    <link rel="stylesheet" type="text/css" href="/site.css" />
    <link rel="stylesheet" type="text/css" href="syntax.css" />

    <style>
      header {
        margin-bottom: 40px;
      }
      @media all and (min-width: 500px) {
        header {
          margin-bottom: 100px;
        }
      }
      header::after {
        display: none;
      }
    </style>
</head>
<body>
	<main class="wrap">
		<header>
			<a href="#" class="website-title"> Astro Markdown </a>
			<nav>
			<a href="#">About</a>
			<a href="#">Contact</a>
			<a href="#">Archive</a>
			</nav>
		</header>
        <article>
            <slot />
        </article>
		<footer>
			<div class="inner">
				<p>
				This is the footer.<br />
				Astro Markdown
				<a href="https://astro.build">Astro.js</a> theme crafted by
				<a href="https://github.com/adwinmbd">Adwinmbd</a>.
				</p>
			</div>
		</footer>
	</main>
</body>
</html>
